
//across all bodies
#landingBackground {
    background-color: #333030;
    font-family: 'Orbitron', sans-serif;
    color: green;
}



.carousel{
    width: 50%;
    margin: auto;
    float: none;

}
//carousel
.carImg{
    text-align: center;
    margin: auto;
}

//NAVBAR
.navbar-inverse .navbar-nav>li>a {
    color: blue;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px
}

.navbar-inverse .navbar-brand {
    font-family: 'Orbitron', sans-serif;
    color: green;
    font-size: 30px;
}

//LINKS
a {
    color: blue;
}
// ALL GALLERIES & ALL ARTISTS
#allGalleryBox {
    margin: 0px 0px 0px 40px
}
#allGalleryRender {
    margin: 0px 0px 0px 40px
}

 .renderedBox{
    // background-color: black;
    margin: 10px 0px 20px 10px;
    display: flex;
    flex-direction: row;
    background-color: black;
    border-radius: 15px;

    .innerRenderedBox{
        display: flex;
        flex-direction: row;

    }
    #allGalleryThumb {
    width:  75px;
    height: 75px;
    float: left;
    margin: 10px 20px 10px 10px;
    }

    #byline{
        align-self: flex-end;
        text-align: left;
    }
    #allGalleriesText{
        font-size: 20px;
        margin: 20px 0px 0px 0px
    }
 }

// SINGLE USER PAGE

#singleArtistContainer{
    display: flex;
    flex-direction: column
}
#profileColumn {
    display: flex;
    flex-direction: column;
    overflow:hidden;
    text-overflow: ellipsis;
    margin: 0px 0px 0px 50px;

    #profilePic {
        width: 300px;
        height: 400px;
        margin-top: 10px;
    }
}

.galleriesAndPaintings{
    display: flex;
    flex-direction: column;
}

.singleUserGalleries {


    .galleriesRow{
        display: flex;
        display: row
    }
}
.singleUserPaintings{


    .paintingsRow{
        display: flex;
        flex-direction: row;
    }
}

.innerGalleryBox{
    display: flex;
    flex-direction: column;
}
.singleUserGalleryThumb{
    width: 100px;
    height:100px;
    margin: 5px 10px 10px 10px;
}
.singleUserGalleryLink{
    text-align: center;
}

//SINGLE GALLERY VIEW
.edit-gallery-btn {
    width: 65%;
    margin: 0 auto;
}

.page-header {
    margin-top: 0px;
}
#enterVRButton .btn {
    height: 60px;
    width: 150px
}
.singleGalleryContainer{
    display: flex;
    flex-direction: column;

}
.userImagesInGalleryRow{
    display: flex;
    flex-direction: row;
}
.paintingsBox{
    display: flex;
    flex-direction: column;
}

//GalleryCreate

.formBox{
    background-color: #222;
    border: green 5px solid;
    width:50%;
    text-align: center;
    margin-top: 50px;
    margin: auto;
    padding: 25px 10px 10px 10px;
    border-radius: 20px
}

//Gallery Edit

.editGalleryContainer{
    display: flex;
    flex-direction: row;
}

.galleryCover{
    display: flex;
    flex-direction: row;
}
.innerGalleryCover{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 20px 20px;
    background-color: #222;
    border-radius: 30px;;
    h3{
        margin: 0px 20px 0px 20px
    }
}

.editGalleryColumn{
    display:flex;
    flex-direction: column;
    margin: 0px 20px
    
}

.addAPaintingDiv {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 20px 20px;
    background-color: #222;
    border-radius: 30px;;
    h3{
        margin: 0px 20px 0px 20px
    }
}
.addAPaintingColumn{
    display:flex;
    flex-direction: column;
    // margin: auto;
    text-align: center;
}
//Signup & Signin

.formBoxLogin{
    background-color: black;
    border: green 5px solid;
    width:50%;
    text-align: center;
    margin-top: 50px;
    margin: auto;
    padding: 15px 10px 0px 15px;
    border-radius: 20px
}



