
//across all bodies
#landingBackground {
    background-color: #333030;
    font-family: 'Orbitron', sans-serif;
    color: green;
}



.carousel{
    width: 50%;
    margin: auto;
    float: none;

}

.carImg{
    text-align: center;
    margin: auto;
}
.navbar-inverse .navbar-nav>li>a {
    color: blue;
    font-family: 'Orbitron', sans-serif;
}

.navbar-inverse .navbar-brand {
    font-family: 'Orbitron', sans-serif;
    color: green;
    font-size: 30px;
}
