   
    // POSSIBLE GREEN::  color: #1ec503;
    // possible purple : #c32aff
input:focus {
    outline: none
}

//across all bodies
#landingBackground {
    background-color: #333030;
    font-family: 'Orbitron', sans-serif;
    color: #1ec503;
   
}

//LandingPage


.carousel{
    width: 100%;
    margin: auto;
    float: none;
    

}
#landingPageHeader{
    margin-left: 27vw;
    margin: 0px;
    position: absolute;
    top: 100px;
    z-index: 99;
}

#landingPageDescriptors{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 75px;
}

// .spacer{
//     background-color: grey;
//     height:200px
// }
//carousel
.carousel-caption{
    color: #c32aff;
}
.carImg{
    text-align: center;
    margin: auto;
    max-height: 700px;
    
}

//NAVBAR
#ourNavbar{
    margin-bottom: 0px;
    // margin-top: -186px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #c32aff;
    // color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    margin-bottom: 0px
}

.navbar-inverse .navbar-brand {
    font-family: 'Orbitron', sans-serif;
    // color: green;
    color: #1ec503;
    font-size: 30px;
}

//LINKS
a {
    color: #2525E6;
}
// ALL GALLERIES & ALL ARTISTS
#allGalleryBox {
    margin: 0px 0px 0px 40px
}
#allGalleryRender {
    margin: 0px 0px 0px 40px
}

 .renderedBox{
    // background-color: black;
    margin: 10px 0px 20px 10px;
    display: flex;
    flex-direction: row;
    background-color: black;
    border-radius: 15px;

    .innerRenderedBox{
        display: flex;
        flex-direction: row;

    }
    #allGalleryThumb {
    width:  75px;
    height: 75px;
    float: left;
    margin: 10px 20px 10px 10px;
    }

    #byline{
        align-self: flex-end;
        text-align: left;
    }
    #allGalleriesText{
        font-size: 20px;
        margin: 20px 0px 0px 0px
    }
 }

// SINGLE USER PAGE

#singleArtistContainer{
    display: flex;
    flex-direction: column
}
#profileColumn {
    display: flex;
    flex-direction: column;
    overflow:hidden;
    text-overflow: ellipsis;
    margin: 0px 0px 0px 50px;

    #profilePic {
        width: 300px;
        height: 400px;
        margin-top: 10px;
    }
}

.galleriesAndPaintings{
    display: flex;
    flex-direction: column;
}

.singleUserGalleries {


    .galleriesRow{
        display: flex;
        display: row
    }
}
.singleUserPaintings{


    .paintingsRow{
        display: flex;
        flex-direction: row;
    }
}

.innerGalleryBox{
    display: flex;
    flex-direction: column;
}
.singleUserGalleryThumb{
    width: 100px;
    height:100px;
    margin: 5px 10px 10px 10px;
}
.singleUserGalleryLink {
    text-align: center;
}
.singleUserPaintingName {
    margin: 0 auto;
}

.singleArtistDashboardNameInput {
    background-color: #333031;
    border-width: 0;
    font-size: 2em;
}

.singleArtistDashboardBioInput {
    background-color: #333031;
    border-width: 0;
    font-size: 1em;
}

.singleArtistDashboardEmailInput {
    background-color: #333031;
    border-width: 0;
    font-size: 1em;
}
.floatLeft {
    float: left;
    color: yellow;
    padding-right: 0.5em;
}

//SINGLE GALLERY VIEW
.edit-gallery-btn {
    width: 65%;
    margin: 0 auto;
}

.page-header {
    margin-top: 0px;
}
#enterVRButton .btn {
    height: 60px;
    width: 150px
}
.singleGalleryContainer{
    display: flex;
    flex-direction: column;

}
.userImagesInGalleryRow{
    display: flex;
    flex-direction: row;
}
.paintingsBox {
    display: flex;
    flex-direction: column;
}
.single-gallery-image-link {
    margin: 0 auto;
}
.single-gallery-create-painting-wrapper {
    margin: 0 auto 3em auto;
}

//GalleryCreate

.formBox{
    background-color: #222;
    border: green 5px solid;
    width:50%;
    text-align: center;
    margin-top: 50px;
    margin: auto;
    padding: 25px 10px 10px 10px;
    border-radius: 20px
}

//Gallery Edit

#glphpencil{
    margin-top: -25px;
}
.headerContainer{
    display: flex;
    flex-direction:row;
}

.editGalleryContainer{
    display: flex;
    flex-direction: row;
}

.galleryCover{
    display: flex;
    flex-direction: row;
}
.innerGalleryCover{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 20px 20px;
    background-color: #222;
    border-radius: 30px;;
    h3{
        margin: 0px 20px 0px 20px
    }
}

.editGalleryColumn{
    display:flex;
    flex-direction: column;
    margin: 0px 20px
    
}

.addAPaintingDiv {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 20px 20px;
    background-color: #222;
    border-radius: 30px;;
    h3{
        margin: 0px 20px 0px 20px
    }
}
.addAPaintingColumn{
    display:flex;
    flex-direction: column;
    // margin: auto;
    text-align: center;
}
//Signup & Signin

.formBoxLogin{
    background-color: black;
    border: green 5px solid;
    width:50%;
    text-align: center;
    margin-top: 50px;
    margin: auto;
    padding: 15px 10px 0px 15px;
    border-radius: 20px
}

// canvas

#name-form-wrapper {
    display: inline;
    margin: 10em;
}

//




