#singleArtistContainer{
    display: flex;
    flex-direction: column
}

#singleArtistContainer > a {
    color: #c32aff;
    
}
#profileColumn {
    display: flex;
    flex-direction: column;
    overflow:hidden;
    text-overflow: ellipsis;
    margin: 20px 0px 0px 50px;
    background-color: black;
    border-radius: 30px;
    padding: 20px 20px;

    #profilePic {
        width: 300px;
        height: 400px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;

    }
}
.singleArtistDashboardNameInput {
    background-color: black;
    border-width: 0;
    font-size: 2em;
}

.singleArtistDashboardBioInput {
    background-color: #333031;
    border-width: 0;
    font-size: 1em;
    background-color: black
}

.singleArtistDashboardEmailInput {
    background-color: #333031;
    border-width: 0;
    font-size: 1em;
}
.floatLeft {
    float: left;
    color: yellow;
    padding-right: 0.5em;
}


.galleriesAndPaintings{
    display: flex;
    flex-direction: column;
}

.singleUserGalleries {
    width: 90%;
    background-color: black;
    border-radius: 30px;
    padding: 20px 20px;
}

    .galleriesRow{
        display: flex;
        display: row;
        flex-wrap: wrap;
        width: 90%;
        background-color: black;
        border-radius: 30px;
        margin-top: 30px;
    }

.singleUserPaintings{
    width: 90%;
    background-color: black;
    border-radius: 30px;
    padding: 20px 20px;
    margin-top: 40px;
}


.paintingsRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
        
}


.innerGalleryBox{
    display: flex;
    flex-direction: column;
    // margin: auto;
    text-align: center;
    overflow:hidden;
    text-overflow: ellipsis;
    margin: 20px;
    
}