
#name-form-wrapper {
    display: inline;
    margin: 10em;
}

#paintingNameForm{
    margin:auto;
    text-align: center;
    margin-top: 40px;
    
}

#drawingBoard{
    margin:auto;
    margin-top: 40px;
}