


//SINGLE GALLERY VIEW
.edit-gallery-btn {
    width: 65%;
    margin: 0 auto;
}

.page-header {
    margin-top: 0px;
}
#enterVRButton .btn {
    height: 60px;
    width: 150px
}
.singleGalleryContainer{
    display: flex;
    flex-direction: column;

}
#jumbotronBox {
    width: 90%;
    background-color: black;
    border-radius: 30px;
    padding: 20px 20px;
    margin: auto;
    margin-bottom: 40px;
}
#galleryPaintings{
    width: 90%;
    background-color: black;
    border-radius: 30px;
    padding: 20px 20px;
    margin: auto;
}
.userImagesInGalleryRow{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
}
.paintingsBox {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.single-gallery-image-link {
    margin: 0 auto;
}
.single-gallery-create-painting-wrapper {
    margin: 0 auto 3em auto;
}