.formBox{
    background-color: #222;
    border: green 5px solid;
    width:50%;
    text-align: center;
    margin-top: 50px;
    margin: auto;
    padding: 25px 10px 10px 10px;
    border-radius: 20px
}