#logoPageBackground{
    background-color: black;
  
}
#logoPageText{
    font-size: 300px;
    margin: auto;
    height: 1000px;
    background-color: black;
    text-align: center;
    margin-top: 500px;
}