//NAVBAR
#ourNavbar{
    margin-bottom: 0px;
    // margin-top: -186px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #c32aff;
    // color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    margin-bottom: 0px
}

.navbar-inverse .navbar-brand {
    font-family: 'Orbitron', sans-serif;
    // color: green;
    color: #1ec503;
    font-size: 30px;
}