//NAVBAR
#ourNavbar{
    margin-bottom: 0px;
}
.navbar-inverse .navbar-nav>li>a {
    color: $themePurple;
    // color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    margin-bottom: 0px
}

.navbar-inverse .navbar-brand {
    font-family: 'Orbitron', sans-serif;
    color:$themeGreen;
    font-size: 30px;
}