.formBoxLogin{
    background-color: black;
    border: green 5px solid;
    width:50%;
    text-align: center;
    margin-top: 50px;
    margin: auto;
    padding: 15px 10px 0px 15px;
    border-radius: 20px
}